.SubscriptionsPanel {
    position: relative;
    width: 100%;
    height: 100%;
}

.SubscriptionsPanel
.subscriptions {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 32px 64px;
    box-sizing: border-box;
}

.SubscriptionsPanel
.subscriptions
.top {
    display: flex;align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.SubscriptionsPanel
.subscriptions
.top .title {
    font-size: 32px;
    color: #9E9E9E;
}

.SubscriptionsPanel
.subscriptions
.filters {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

.SubscriptionsPanel
.subscriptions .filters
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 80px;
    background: #FFF;
    padding: 8px 32px;

    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
       -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.SubscriptionsPanel
.subscriptions .filters .filter-state
.message {
    color: #CCC;
    font-size: 14px;
}

.SubscriptionsPanel
.subscriptions .filters .action
.lnr {
    color: #E3E3E3;
    font-size: 32px;
    margin-left: 10px;
}

.SubscriptionsPanel
.subscriptions .filters
.filter-options {
    position: absolute;
    top: 100%; right: 0px;
    background: #FFF;
    z-index: 100;
    visibility: hidden;
    width: 144px;

    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
       -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.SubscriptionsPanel .subscriptions .filters .action:hover + .filter-options,
.SubscriptionsPanel .subscriptions .filters .filter-options:hover {
    visibility: visible;
}

.SubscriptionsPanel
.subscriptions .filters .filter-options
.filter-item {
    position: relative;
    padding: 8px 32px;
    border-top: 1px solid #E3E3E3;
}

.SubscriptionsPanel
.subscriptions .filters .filter-options
.filter-item:hover {
    background: #F8FFE7;
    cursor: pointer;
}

.SubscriptionsPanel .filter-item.pending .status   { color: #FFC107; }
.SubscriptionsPanel .filter-item.suspended .status { color: #DC6F6F; }
.SubscriptionsPanel .filter-item.active .status    { color: #94C120; }
.SubscriptionsPanel .filter-item.ended .status     { color: #8BA8D6; }

.SubscriptionsPanel
.subscriptions .filters .filter-options .filter-item
.lnr {
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #E3E3E3;
    padding: 0 5px;
}

.SubscriptionsPanel .filter-item
.lnr.lnr-checkmark-circle { color: #94C120; }

.SubscriptionsPanel .filter-item
.lnr.lnr-cross-circle { color: #DC6F6F; }

.SubscriptionsPanel
.sub-list {
    height: calc(100% - 82px);
}

.SubscriptionsPanel .subscriptions tr th,
.SubscriptionsPanel .subscriptions tr td {
    text-align: center;
}

.SubscriptionsPanel .subscriptions tr th:first-child,
.SubscriptionsPanel .subscriptions tr td:first-child {
    text-align: left;
}

.SubscriptionsPanel .subscriptions tr th:last-child,
.SubscriptionsPanel .subscriptions tr td:last-child {
    text-align: right;
}

/* Sub Balance */
.SubscriptionsPanel .balance.positive { color: inherit; }
.SubscriptionsPanel .balance.negative { color: #DC6F6F; }

/* Sub Status */
.SubscriptionsPanel .status { text-transform: capitalize; }
.SubscriptionsPanel .status.pending   { color: #FFC107; }
.SubscriptionsPanel .status.suspended { color: #DC6F6F; }
.SubscriptionsPanel .status.active    { color: #94C120; }
.SubscriptionsPanel .status.ended     { color: #8BA8D6; }


/* ––– Loader ––– */

.SubscriptionsPanel
.panel-loader {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.SubscriptionsPanel
.panel-loader
.load-notice {
    font-size: 2em;
    color: #CCC;
}


/* ––– Transitions ––– */

.expand-transition {
    height: 100%;
    z-index: 100;
    overflow: hidden;

    background-color: #EEE;

    transition: all .3s ease-out;
}

.expand-enter, .expand-leave {
    height: 0;
}
