.SubscriptionsPanel {
    position: relative;
    width: 100%;
    height: 100%;
}

.SubscriptionsPanel
.subscriptions {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 32px 64px;
    box-sizing: border-box;
}

.SubscriptionsPanel .subscriptions tr th,
.SubscriptionsPanel .subscriptions tr td {
    text-align: center;
}

.SubscriptionsPanel .subscriptions tr th:first-child,
.SubscriptionsPanel .subscriptions tr td:first-child {
    text-align: left;
}

.SubscriptionsPanel .subscriptions tr th:last-child,
.SubscriptionsPanel .subscriptions tr td:last-child {
    text-align: right;
}

/* Sub Balance */
.SubscriptionsPanel .balance.positive { color: inherit; }
.SubscriptionsPanel .balance.negative { color: #DC6F6F; }

/* Sub Status */
.SubscriptionsPanel .status { text-transform: capitalize; }
.SubscriptionsPanel .status.pending   { color: #FFC107; }
.SubscriptionsPanel .status.suspended { color: #DC6F6F; }
.SubscriptionsPanel .status.active    { color: #94C120; }


/* ––– Loader ––– */

.SubscriptionsPanel
.panel-loader {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.SubscriptionsPanel
.panel-loader
.load-notice {
    font-size: 2em;
    color: #CCC;
}


/* ––– Transitions ––– */

.expand-transition {
    height: 100%;
    z-index: 100;
    overflow: hidden;

    background-color: #EEE;

    transition: all .3s ease-out;
}

.expand-enter, .expand-leave {
    height: 0;
}
