<div class="DashboardPanel" transition="fade">
    <!-- Subscription Dashboard -->
    <div class="dashboard" v-if="showing_dashboard">
        <!-- Current Month Summary -->
        <div class="summary" v-if="current_month_summary">
            <div class="dashboard-card">
                <div class="card-title">Period</div>
                <div class="card-content">
                    <div class="date-value">
                        <div class="month">{{current_month_summary.period.format("MMMM")}}</div>
                        <div class="year">{{current_month_summary.period.year()}}</div>
                    </div>
                </div>
                <div class="month-warning" v-if="!showing_current_month">
                    <div class="notice">Where is {{upcoming_month.format("MMMM")}}?</div>
                    <div class="explanation">
                        <div>This subscripiton started on {{selected_subscription.from_date.format("MMMM Do")}}.
                        This means next month will commence on {{upcoming_month.format("MMMM Do")}}.</div>
                    </div>
                </div>
            </div>
            <div class="dashboard-card">
                <div class="card-title">At Start</div>
                <div class="card-content">
                    <!-- class binding for +/- value -->
                    <div class="value" :class="[current_month_summary.start < 0 ? 'negative' : '']">
                        {{current_month_summary.start | currency}}
                    </div>
                </div>
            </div>
            <div class="dashboard-card">
                <div class="card-title">Added</div>
                <div class="card-content">
                    <div class="value positive">{{current_month_summary.added | currency}}</div>
                </div>
            </div>
            <div class="dashboard-card">
                <div class="card-title">Spent</div>
                <div class="card-content">
                    <div class="value negative">{{current_month_summary.spent | currency}}</div>
                </div>
            </div>
            <div class="dashboard-card">
                <div class="card-title">Balance</div>
                <div class="card-content">
                    <!-- class binding for +/- value -->
                    <div class="value" :class="[current_month_summary.start < 0 ? 'negative' : '']">
                        {{current_month_summary.balance | currency}}
                    </div>
                </div>
            </div>
        </div>
        <div class="summary" v-else>
            <div class="summary-placeholder">
                This subscription will start on
                <strong>{{selected_subscription.from_date.format('MMMM Do YYYY')}}</strong>
            </div>
        </div>

        <!-- Subscription History -->
        <div class="previous" v-if="historic_month_summaries.length > 0">
            <div class="previous-content">
                <table class="summary-table">
                    <tbody>
                        <tr v-for="summary in historic_month_summaries">
                            <td>{{summary.period.format("MMMM YYYY")}}</td>
                            <td>{{summary.start | currency}}</td>
                            <td>{{summary.added | currency}}</td>
                            <td>{{summary.spent | currency}}</td>
                            <td>{{summary.balance | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="footer">
                    <div class="footer-label">- Subscription Start -</div>
                </div>
            </div>
        </div>

        <!-- Action Buttons -->
        <div v-if="current_user.type === 'admin'"
             class="floating-plus"
             @click="toggle_actions">
                <span class="lnr lnr-cross" :class="{'rotate-45': is_showing_actions || current_action}"></span>
        </div>

        <!-- Actions List -->
        <ul class="actions-list" v-if="is_showing_actions" transition="action-list">
            <li class="action-option"><a class="action-link" :href="zoho_reports_url">Show breakdown.</a></li>
            <li class="action-option" @click="set_action('rates')">Show rates.</li>
            <li class="action-option" @click="set_action('state')">Set {{toggled_state}}.</li>
            <li class="action-option" @click="set_action('credit')">Credit subscription.</li>
        </ul>

        <!-- Action Components -->
        <div class="action" v-if='current_action' transition="action">
            <template v-if="current_action == 'state'">
                <update-state
                    :subscription_id='focused_subscription_id'
                    :close='close_action'>
                </update-state>
            </template>
            <template v-if="current_action == 'credit'">
                <top-up
                    :subscription_id='focused_subscription_id'
                    :close='close_action'>
                </top-up>
            </template>
            <template v-if="current_action == 'rates'">
                <rate-card
                    :subscription_id='focused_subscription_id'
                    :close='close_action'>
                </rate-card>
            </template>
        </div>
    </div>

    <!-- Has No Subscription -->
    <template v-if="!selected_subscription">
        <notice
            title="Oh, hello..."
            text="Looks like you don't have a subscription yet.<br><br>
            If you are interested in this service, please get in touch and we can set things up for you.">
            <a slot="foot" class='button submit' href='http://www.a2zcloud.com/what-we-do/appt-i-tudebusiness-support/'>Contact Us</a>
        </notice>
    </template>
    <template v-else>
        <!-- Subscription Is Suspended -->
        <template v-if="!override_notice && subscription_suspended">
            <notice
                title="Stop right there..."
                text="For one reason or another, your subscription has been suspended.<br><br>
                This may be because you have overspent this month or there is a dispute with your subscription.
                If you want to discuss this or dispute it please send us a message.">
                <a slot="foot" class='button submit' href='mailto:support@a2zcloud.com'>Contact Us</a>
            </notice>
        </template>
        <!-- Subscription Has Ended -->
        <template v-if="!override_notice && subscription_ended">
            <notice
                title="End of the line..."
                text="Your subscription has ended.<br><br>
                You can get in touch with us if you want to renew or review your subscription.<br>
                Alternatively, if you want to see the subscription summary anyway, you can click below.">
                <a slot="foot" class="button submit" @click="override_notice=true">View Summary</a>
            </notice>
        </template>
        <!-- Subscription Has Not Started -->
        <template v-if="!override_notice && !subscription_started">
            <notice
                title="Hold your horses..."
                :text="'Looks like your subscription has not begun.<br><br>
                If you check back in here on <strong>'+selected_subscription.from_date.format('MMMM Do YYYY')+',
                </strong>you will be able to see your subscription summary.'">
                <a slot="foot" class='button submit' href='mailto:support@a2zcloud.com'>Contact Us</a>
            </notice>
        </template>
    </template>
</div>
