.NavPanel {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #A9CA5D;
    box-sizing: border-box;
    padding: 0 10px;

    color: #FFF;
    font-weight: lighter;
    font-size: 14px;
}


/* Title section. */

.NavPanel
.title-content {
    width: 80%;
}

.NavPanel
.sub-detail {
    display: flex;
    margin-bottom: 10px;
}

.NavPanel
.sub-dates {
    display: flex;
    max-width: 260px;
}

.NavPanel
.sub-dates
.date-group {
    padding-right: 20px;
}

.NavPanel
.sub-dates .date-group
.label {
    font-size: 0.8em;
}

.NavPanel
.sub-dates .date-group
.value {
    color: rgba(255,255,255,0.7);
}

.NavPanel
.sub-state {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 3px;
    border: 4px solid #FFF;
    border-radius: 5px;

    color: #FFF;
    text-transform: uppercase;
}

.NavPanel .sub-state.pending   { border-color: #F5DE99; color: #F5DE99; }
.NavPanel .sub-state.suspended { border-color: #EC9292; color: #EC9292; }
.NavPanel .sub-state.active    { border-color: #88AD28; color: #88AD28; }
.NavPanel .sub-state.ended     { border-color: #8BA8D6; color: #8BA8D6; }

.NavPanel
.subscription
.selection.dropdown {
    display: inline-block;
}

.NavPanel
.subscription
.selection.dropdown:hover {
    color: #5F8454;
    cursor: pointer;
}

.NavPanel
.subscription
.sub-title {
    font-size: 1.8em;
}

.NavPanel
.subscription
.dropdown-handle {
    display: inline-block;
    width: 20px;
    font-size: 26px;
}

.NavPanel
.nav-logo {
    display: inline-block;;
    max-width: 65px;
    margin-right: 5px;
    vertical-align: bottom;
}


/* Username and Sign Out section. */

.NavPanel
.user {
    width: 20%;
    text-align: right;
}

.NavPanel
.user .sign-out {
    text-decoration: none;
    color: inherit;
}

.NavPanel
.user .sign-out:hover {
    color: #5F8454;
}

.NavPanel
.user .name {
    color: rgba(255,255,255,0.7);
}


/* ---- Media Queries ---- */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
    .NavPanel {
        padding: 0 64px;
        font-size: 16px;
    }

    .NavPanel
    .title-content {
        width: 90%;
    }

    .NavPanel
    .user {
        width: 10%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
