<div class="NavPanel">
    <!-- Nav Title -->
    <div class="title-content">
        <div class="sub-dates">
            <div v-if="selected_subscription" class="date-group">
                <div class="label">Start Date</div>
                <div class="value">{{selected_subscription.from_date.format("MMM YYYY")}}</div>
            </div>
            <div v-if="selected_subscription" class="date-group">
                <div class="label">End Date</div>
                <div class="value">{{selected_subscription.to_date.format("MMM YYYY")}}</div>
            </div>
        </div>
        <div v-if="selected_subscription" class="subscription">
            <div class="selection">
                <span class="sub-title"><span class="company">{{selected_group.name}}</span>'s Subscription</span>
                <!-- <span class="dropdown-handle">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </span> -->
            </div>
        </div>
    </div>

    <!-- Actions -->
    <!-- <a class="action" v-link="{ path: '/payments', exact: false }"><i class="fa fa-ticket" aria-hidden="true"></i></a>
    <a class="action" v-link="{ path: '/calculator', exact: false }"><i class="fa fa-calculator" aria-hidden="true"></i></a>
    <a class="action nav-right" v-link="{ path: '/admin', exact: false }"><i class="fa fa-cogs" aria-hidden="true"></i></a> -->

    <!-- User -->
    <div v-if="user" class="user">
        <div class="name">{{user.first_name + ' ' + user.last_name}}</div>
        <a class="sign-out" :href="sign_out_url">Sign Out</a>
    </div>
</div>
