<div class="NavPanel">
    <!-- Nav Title -->
    <div class="title-content">
        <div class="sub-dates">
            <div class="date-group">
                <div class="label">Start Date</div>
                <div class="value">Aug 2016</div>
            </div>
            <div class="date-group">
                <div class="label">End Date</div>
                <div class="value">Aug 2017</div>
            </div>
        </div>
        <div class="subscription">
            <div class="selection">
                <span class="sub-title"><span class="company">A2Z Cloud</span>'s Subscription</span>
                <span class="dropdown-handle">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>

    <!-- Actions -->
    <!-- <a class="action" v-link="{ path: '/payments', exact: false }"><i class="fa fa-ticket" aria-hidden="true"></i></a>
    <a class="action" v-link="{ path: '/calculator', exact: false }"><i class="fa fa-calculator" aria-hidden="true"></i></a>
    <a class="action nav-right" v-link="{ path: '/admin', exact: false }"><i class="fa fa-cogs" aria-hidden="true"></i></a> -->

    <!-- User -->
    <div class="user">
        <div class="name">Bill Billson</div> <!-- PLACEHOLDER -->
        <a class="sign-out" :href="sign_out_url">Sign Out</a>
    </div>
</div>
