.TopUp {
    position: relative;
}

.TopUp
.title {
    margin-bottom: 10px;
}

.TopUp
.form {
    width: 100%;
}

.TopUp
.form .line {
    display: flex;
    margin: 10px 0px;
}

.TopUp
.form .line:last-child {
    margin-bottom: 0px;
}

.TopUp
.form .line
.value {
    width: 100%;
    height: 35px;
    padding: 3px 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #979797;
}

.TopUp
.form .line
.submit {
    overflow: visible;
    height: 38px;
}

.TopUp
.form .line
.error {
    width: 100%;
    padding-top: 7px;
    padding-right: 20px;
    color: #F95858;
    font-size: small;
}
