/* ---- Colours ---- */

/* Primary
   #FFF
*/

/* Secondary
   #A9CA5D
*/

/* Highlight
   #5F8454
*/


/* ---- Font Imports ---- */

/*
*/


/* ---- General CSS ---- */

body {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    overflow: hidden;

    margin: 0;
    padding: 0;

    background: #FFF;
    color: #000;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

h1,h2,h3,h4,h5,.title {
    margin: 0;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.transition-base {
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
        -ms-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
}

#Main {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    overflow: hidden;

    background: #FAFAFA;
}

#Main
.content-nav {
    position: absolute;
    top:  0;
    left: 0; right: 0;

    height: 120px;
}

#Main
.content-body {
    position: absolute;
    top:  120px; bottom: 0; /* account for nav bar */
    left: 0;     right:  0;

    overflow: auto;
}

#Main
.watermark {
    position: absolute;
    left: 0; bottom: -290px;
    margin-top: 120px;

    -webkit-filter: grayscale(1) opacity(0.5);
            filter: grayscale(50%) opacity(25%);
}

#Main
.logo-link {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 10px;

    font-size: 16px;
    line-height: 20px;
    color: #BBB;
    text-decoration: none;
}

#Main
.logo-link
.link-icon {
    display: inline-block;
    vertical-align: sub;
    height: 20px;
    width: 26px;
}


/* --- Hide Number Input Spinners --- */

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}


/* ---- Media Queries ---- */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/** ie10mobile.css **/
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}
